<h1>Employee Management Application</h1>
<br>
<p><%=link_to "List all Employees", employees_path%></p>
<p><%=link_to "List all Managers", managers_path%></p>
<p><%=link_to "List all Cities", cities_path%></p>
<p><%=link_to "List all Relocation Requests",relocation_requests_employees_path%></p>
